.footer-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;

  width: 100vw;
  overflow-x: hidden;
}

.footer--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer--heading {
  font-size: 30px;
}

.footer--form-email {
  padding-block: 10px;
  padding-right: 100px;
  padding-left: 10px;
  text-align: left;
  outline: 0;
  background-color: #fff;
  color: #242424;
  border-radius: 5px;
}

form {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.footer--item--wrapper {
  margin-block: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer--item-list > ul {
  list-style: none;
  line-height: 30px;
  cursor: pointer;
}
.footer--item--heading {
  font-size: 26px;
}

.footer--icon-wrapper {
  width: 100%;
  margin-block: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.footer--icon {
  font-size: 24px;
}
.footer--icon > i {
  font-size: 24px;
  cursor: pointer;
}

.small-text {
  font-size: 16px;
}

.footer--icon-social {
  display: flex;
}
.footer--icon-social > i {
  font-size: 24px;
  padding: 0 5px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .footer-container {
    margin-top: 20px;
    display: block;
    max-width: fit-content;
    overflow-x: hidden;
  }
  .footer--heading {
    font-size: 22px;
    text-align: center;
  }
  .footer--form-email {
    padding-right: 40px;
    margin-left: 3px;
  }
  .footer--item--heading {
    font-size: 16px;
  }
  .footer--item-list > ul {
    font-size: 10px;
  }
  .footer--icon {
    font-size: 16px;
  }
  .footer--icon > i {
    font-size: 16px;
  }
  .small-text {
    margin-top: 7px;
    font-size: 10px;
  }
  .footer--icon-social > i {
    font-size: 16px;
  }
  .btn--medium{
    font-size: 18px !important;
}
}
