.navbar{
    width: 100vw;
    padding: 0.5rem;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #242424;
    overflow-x: hidden;
}

.navbar--container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100vw;
}
.navbar--title{
   font-size: 26px;
   font-weight: bold;
   letter-spacing:5px;
   margin-left: 100px;
   color:#fff;
}

.navbar--menu-icon{
    font-size: 30px;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 0;
    margin-right: 20px;
}
.navbar--menu-items{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin-right: 3rem;

}
.navbar--menu-items-mobile{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    text-align: left;
    
    
}
.navbar--menu-item-link {
   
    color:#fff;
    font-size: 20px;
    font-weight: 500;
    top: 25%;
    width: 100%;
    text-align: center;
    
}


@media (max-width:960px){
    .navbar{
        padding:10px 0px;
         
    }
    .navbar--container{
      flex-direction: column;
      align-items: start;
  
        
    }
    
    .navbar--title{
        margin-left: 20px;
        margin-bottom: 10px;
    }
    .navbar--menu-icon{
        display: block;
        margin-right: 50px;
    }
    .navbar--menu-items{
        display: none;
        
    }
    .navbar--menu-items-mobile{
        background-color: #242424;
        width: 100vw;
        opacity: 0.9;
        position: fixed;
        top: 55px;
        
    }

    .navbar--menu-item-link {
        width: 100vw;
        left: 0;
        color: #fff;
        margin-bottom: 10px;
        padding: 16px;
    }
    .navbar-menu-list{
        display: flex;
        text-align: center;
        align-items: center;
        justify-self: center;

    }
    .navbar--menu-item-link-hide{
        
        margin-left: 200px;
    }
    .navbar--menu-item-link:hover{
        color: #242424;
        background-color: #fff;
    }
}