
.card{
    width: 100vw;
    height: fit-content;
    background-color: #fff;
    color: #242424;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    overflow-x: hidden;
    /* margin-block:50px; */
}
.card--heading{
    font-size: 50px;
}

.cards--list{
    margin-block:50px ;
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding:0 120px;
}

@media (max-width:960px){
    .card{
        width: 100vw;
        height: fit-content;
        background-color: #fff;
        color: #242424;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 0;
        align-items: center;
        /* margin-block:50px; */
    }
    .cards--list{
        flex-direction: column;
        padding: 0;
        margin-bottom: -45px;
        align-items: center;
    }
    .card--heading{
        font-size: 30px;
        
    }
    
}